*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root {
    --font-color: #ffffff;
    --gradient-color-1: #0B1F1A;
    --gradient-color-2: #0F2E25;
    --icon-color: #50c878;
}
body{
    /* background: #013b62; */
    color: var(--font-color);
    background: linear-gradient( var(--gradient-color-1)  , var(--gradient-color-2) );
} 
html{
    scroll-behavior: smooth;
}   
#header{
    width: 100%;
    height: 80vh;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    font-size: 40px;
    color: var(--font-color);
    animation: slideright 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.logo span{
    color: var(--icon-color);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    animation: slideleft 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
nav ul li a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--icon-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}  

.hero{
    width: 450px;
    height: 450px;
    background: none;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 800px;
    border-radius: 50%;
    box-shadow: 0px 10px 30px -15px #040404;
    animation: zoomIn 0.8s ease forwards;
    animation-delay: 1s, 2s;
    opacity: 0;
}

/*--header text area--*/

.header-text{
    margin: -300px 5%;
}  
.header-text p{
    font-size: 25px;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
    margin-top: 10px;
}
.header-text h1{
    font-size: 45px;
    margin-top: 5px;
    animation: slidetop 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.header-text h1 span{
    color: var(--icon-color);
}
.social-media{
    width: 300px;
    margin: 330px 3%;
    opacity: 0;
    animation: fadein 3s ease forwards;
    animation-delay: 2s;
}
.social-media a{
    font-size: 35px;
    color: var(--icon-color);
    margin-left: 20px;
    transition: 0.5s;
}
.social-media a:hover{
    color: var(--font-color);
    cursor: pointer;
}


/*--about section--*/

#about{
    padding: 80px 0;
    color: #adadad; 
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 70%;
    border-radius: 15px;
    box-shadow: 0 10px 30px -15px #000000;
    margin-top: 50px;
    margin-left: 100px;
}
.about-col-2{
    flex-basis: 65%;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: var(--font-color);
}
.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--icon-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: #ababab;
}
.tab-contents ul li span{
    color: var(--icon-color);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}




/*--sevieces--*/

#services{
    padding: 30px 0;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #0404048e;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 16px;
}
.services-list div a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: var(--icon-color);
    transform: translateY(-10px);
    color: #000;
}

/*----portfolio--*/

#portfolio{
    padding: 50px 0;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;  
}
.work img{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--icon-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:  0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25px;
}
.layer a{
    margin-top: 20px;
    color: var(--icon-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--font-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}



/*--contact--*/
#contact{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--icon-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-media-icons{
    margin-top: 30px;
}
.social-media-icons a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 30px;
    color: var(--font-color);
    display: inline-block;
    transition:  0.5s;
}
.social-media-icons a:hover{
    color: var(--icon-color);
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--font-color);
    padding: 15px;
    margin: 15px 0;
    color: #262626;
    font-size: 18px;
    border-radius: 6px;
}
.btn2{
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid var(--font-color);
    padding: 14px 50px;
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    transition:  0.5s;
    background-color: var(--icon-color);
}
.btn2:hover{
    background: #02c997;
    color: #000000;
    transform: scale(1.1);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--font-color);
    padding: 15px;
    margin: 15px 0;
}

/*---COPYRIGHT-SEC--*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--gradient-color-1);
    font-weight: 300;
    margin-top: 20px;
}
nav .fa-solid{
    display: none;
}

/*----- css for small screen -----*/

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 35%;
        font-size: 16px;
    }
    .header-text p{
        font-size: 20px;
    }
    .header-text h1{
        font-size: 35px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #0099ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 50vh;
        padding-top: 50px;
        border-radius: 0 0 0 30px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
       display: block;
       margin: 25px;
    }
    nav .fa-solid{
        position: absolute;
        top: 20px;
        left: 100px;
        cursor: pointer;
    }
    nav .fa-bars{
        margin-left: 250px;
    }
    .hero{
    width: 200px;
    height: 200px;
    background: url(images/Wave.jpg);
    background-size: cover;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 110px;
    border-radius: 50%;
    box-shadow: 0px 10px 30px -15px #040404;
    animation: zoomIn 0.6s ease forwards;
   }
   .sub-tittle{
    font-size: 40px;
   }
   .about-col-1, .about-col-2{
    flex-basis: 100%;
   }
   .about-col-1{
    margin-bottom: 10px;
   }
   .about-col-1 img{
    margin-left: 54px;
   }
   .about-col-2{
    font-size: 14px;
   }
   .tab-links{
    font-size: 16px;
    margin-right: 20px;
   }
   .contact-left, .contact-right{
    flex-basis: 100%;
   }
}

/*--- animation ---*/
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideright{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideleft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slidetop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


    @media (prefers-reduced-motion: reduce){
    *{
        animation: none !important;
        transition: none !important;
    }
}